<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BTS Song List 💜</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>BTS Songs 💜</h1>
  <div class="song-container">
    {% for song in songs %}
    <div class="song-card">
      <h2>{{ song.title }}</h2>
      <p><strong>Album:</strong> {{ song.album }}</p>
      <p><strong>Release:</strong> {{ song.release }}</p>
      <a href="{{ song.youtube }}" target="_blank">🎵 Watch on YouTube</a>
    </div>
    {% endfor %}
  </div>
</body>
</html>
<footer style="text-align: center; padding: 10px; font-size: 20px; color: rgb(246, 240, 240);">
    © 2025 Harinipriya Balakrishnan. All rights reserved.
</footer>

